#searchBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    width: 80%;
    height: 36px;
    background-color: white;
}

#searchBar input {
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
    flex-grow: 1;
}

#searchBar input:focus {
    border: none;
    outline: none;
}

#searchBar button { 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 15px;
    background-color: rgb(59, 147, 35);
    width: 11%;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

#searchBar button:hover {
    background-color: rgb(56, 108, 42);
}

#searchBar button img{
    width: 15px;
    height: 15px;
    object-fit: contain;
}